<div class="login-container">
  <mat-card class="user-panel-card">
    <mat-card-header>
      <mat-card-title>Witaj w Site Flow!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <img mat-card-image class="img-card-content" src="./assets/icons/d-1.svg" alt="">
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onSignIn()">Zaloguj przez Gmail</button>
    </mat-card-actions>
  </mat-card>
</div>