.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .login-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 250px;

        mat-card-content {
            padding: 15px;
        }

        mat-card-actions {
            padding-bottom: 20px;
        }
    }
}
