<div class="login">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <img [src]="pictureUrl" alt="Profile Picture" *ngIf="pictureUrl">
    </button>
    <mat-menu #userMenu="matMenu">
        <div class="user-info">
            <span>Witaj {{ userName }}!</span>
        </div>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Ustawienia</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Wyloguj</span>
        </button>
    </mat-menu>
</div>


