<mat-card>
    <mat-card-content><h1>Budowy</h1></mat-card-content>
</mat-card>

<section>
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="openAddFeatureDialog()">+ Dodaj</button>
    </div>
</section>

<div class="mat-elevation-z1">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container *ngFor="let column of columns; let firstColumn = first" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element" [class.bold-header]="firstColumn">
                <ng-container *ngIf="column.columnDef !== 'menu'; else menuCell">
                    {{ column.cell(element) }}
                </ng-container>
                <ng-template #menuCell matMenuContent>
                    <button mat-icon-button [matMenuTriggerFor]="menu">{{ column.cell(element) }}<mat-icon>more_vert</mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editElement(element)">Edytuj</button>
                        <button mat-menu-item (click)="deleteElement(element)">Usuń</button>
                    </mat-menu>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
  

