.button {
    margin-left: 30px;
    margin-bottom: 16px;
}

.table-container {
  display: flex;
  flex-direction: column;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0 20px;
}

.mat-mdc-form-field {
  width: 100%;
  padding: 16px;
}

th.mat-sort-header-sorted {
  color: black;
  background-color: #fafafa;
}

mat-form-field {
  width: 100%;
}

  
   


  
  