<mat-card class="card-class">
    <mat-card-header class="card-header">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-subtitle>Firma</mat-card-subtitle>
      <mat-card-title>GWK System</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="first-row">
            <p class="name">Imię:<span>Tomasz</span></p>
            <p class="second-name">Nazwisko:<span>Dzik</span></p>
        </div>
        <div class="second-row">
            <p class="email">E-mail:<span>tomasz@gwk_system.pl</span></p>
            <p class="phone">Telefon:<span>+48 600-700-888</span></p>
        </div>
        <div class="third-row">
            <p class="adress">Adres:<span>Mogilany 73C, 31-400 Mogilany</span></p>
        </div>
        <div class="fourth-row">
            <p class="role">Rola:<span>Podwykonawca</span></p>
        </div>
    </mat-card-content>
    <mat-card-actions class="buttons">
        <button mat-button color="accent">Usuń</button>
        <button mat-button color="primary">Edytuj</button>
    </mat-card-actions>
    <mat-card-footer>
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
</mat-card>