$iconWidth: 56px;

mat-toolbar {
    img {
        height: 100%;
    }

    span {
        font-weight: bold;
    }
}

.navbar-toogle {
    display: none;
    padding: 0;
    margin: 8px;
    min-width: $iconWidth;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    mat-icon {
        font-size: 30px;
        height: $iconWidth;
        width: $iconWidth;
        line-height: $iconWidth;
    }
}

