$iconWidth: 56px;

mat-toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: x-large;

    span {
        font-weight: bold;
    }
}

.logo {
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.title {
    padding-left: 10px;
}

.navbar-toogle {
    display: none;
    padding: 0;
    margin: 8px;
    min-width: $iconWidth;

    @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    mat-icon {
        font-size: 30px;
        height: $iconWidth;
        width: $iconWidth;
        line-height: $iconWidth;
    }
}

.left-content {
    display: flex;
    align-items: center;
}

span:hover {
    color: #1e2935;
    cursor: pointer;
}

