.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: x-large;

    span {
        font-weight: bold;
        color: #fff;
    }

    span:hover {
        color: #1e2935;
        cursor: pointer;
    }
}

.logo {
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
}

.title {
    padding-left: 10px;
}

.left-content {
    display: flex;
    align-items: center;
}

.right-content {
    display: flex;
    align-items: center;
    flex-direction: row;
}



