<mat-toolbar color="primary">
    <div class="left-content">
        <img class="logo" src="../../../assets/images/logos/mapshop.svg" alt="logo">
        <div class="title">
            Site<span (click)="navigateToHomepage()">Flow</span>
        </div>
        <button mat-button class="navbar-toogle" (click)="toogleSidenav.emit()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <app-account></app-account>
</mat-toolbar>


 <!-- TODO: poprawić wyśrodkowanie toogle-buttona i jego położenie -->