.title {
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    padding: 15px;
  
    .right-buttons-container {
      margin-left: auto;
    }
  }

  mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .choose {
    width: 100%;
  }

  .file-name {
    padding-top: 10px;
}
  