mat-sidenav {
  // margin: 16px;
  width: 250px;
  // background: #ffff;
  padding: 16px;
  text-align: center;
}
.header {
  width: 100%;
}
.content {
  height: calc(100vh - 98px);
  margin: 16px;
  // margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: top;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-icon {
    margin-right: 10px;
  }

  .item-list {
    text-align: left;
  }
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}