<mat-toolbar color="primary"> 
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <div class="header">
    <app-header></app-header>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <mat-nav-list class="menu-list">
      <a mat-list-item *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="'active'">
        <div class="item-list">
          <div class="icon">
            <mat-icon>{{ link.icon }}</mat-icon>
          </div>
          <div class="label">
            {{ link.label }}
          </div>
        </div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <button mat-button class="help-button">
        <mat-icon>help</mat-icon>
        <span>Pomoc</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content"><router-outlet></router-outlet></div>
    <div class="image-container"><img src="./assets/backgrounds/about-wave-primary-top.svg" alt=""></div>
  </mat-sidenav-content>
</mat-sidenav-container>

