<section>
    <div class="sec">
        <div class="title"><h1>Zadania</h1></div>
        <div class="button"><button mat-flat-button color="primary">+ Dodaj</button></div>
    </div>
</section>
<mat-form-field>
  <mat-label>Filtruj</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtruj" #input>
</mat-form-field>
<div class="content-container">
    <div class="header-task-list">
    </div>
    <div class="tasks-kanban-content">
        <div cdkDropListGroup>
          <div class="content-container">
            <div class="header-task-list">Przeciągnij zadania do odpowiedniej kolumny</div>
            <div class="tasks-kanban-content">
              <div cdkDropListGroup>
                <div class="example-container">
                  <h2>Nowe:</h2>
                  <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event, 'nowe')">
                    <div class="example-box" *ngFor="let item of todo" [cdkDragData]="{ data: item }" cdkDrag>
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="warn" (click)="deleteElement(item.id)">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>Do zatwierdzenia:</h2>
                  <div cdkDropList [cdkDropListData]="toAccept" class="example-list" (cdkDropListDropped)="drop($event, 'do zatwiedzenia')">
                    <div class="example-box" *ngFor="let item of toAccept" [cdkDragData]="{ data: item }" cdkDrag>
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="warn" (click)="deleteElement(item.id)">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>W trakcie:</h2>
                  <div cdkDropList [cdkDropListData]="inProgress" class="example-list" (cdkDropListDropped)="drop($event, 'w trakcie')">
                    <div class="example-box" *ngFor="let item of inProgress" [cdkDragData]="{ data: item }" cdkDrag>
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="warn" (click)="deleteElement(item.id)">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>Zakończone:</h2>
                  <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event, 'zakończone')">
                    <div class="example-box" *ngFor="let item of done" [cdkDragData]="{ data: item }" cdkDrag>
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="warn" (click)="deleteElement(item.id)">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


  