<section>
    <div class="sec">
        <div class="title"><h1>Zadania</h1></div>
        <div class="button"><button mat-flat-button color="primary">+ Dodaj</button></div>
    </div>
</section>
<mat-divider></mat-divider>

<div class="content-container">
    <div class="header-task-list">
    </div>
    <div class="tasks-kanban-content">
        <div cdkDropListGroup>
          <div class="content-container">
            <div class="header-task-list">Przeciągnij zadania do odpowiedniej kolumny
            </div>
            <div class="tasks-kanban-content">
              <div cdkDropListGroup>
                <div class="example-container">
                  <h2>Nowe:</h2>
                  <div cdkDropList [cdkDropListData]="getFilteredTaskArray('nowe')" class="example-list" [cdkDragData]="item" (cdkDropListDropped)="drop($event, 'nowe')" cdkDrag>
                    <div class="example-box" *ngFor="let item of getFilteredTaskArray('nowe')" (dragstart)="onDragStart(item)">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="accent">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>Do zatwierdzenia:</h2>
                  <div cdkDropList [cdkDropListData]="getFilteredTaskArray('do zatwiedzenia')" class="example-list" [cdkDragData]="item" (cdkDropListDropped)="drop($event, 'do zatwiedzenia')" cdkDrag>
                    <div class="example-box" *ngFor="let item of getFilteredTaskArray('do zatwiedzenia')" (dragstart)="onDragStart(item)">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="accent">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>W trakcie:</h2>
                  <div cdkDropList [cdkDropListData]="getFilteredTaskArray('w trakcie')" class="example-list" [cdkDragData]="item" (cdkDropListDropped)="drop($event, 'w trakcie')" cdkDrag>
                    <div class="example-box" *ngFor="let item of getFilteredTaskArray('w trakcie')" (dragstart)="onDragStart(item)">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="accent">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
                <div class="example-container">
                  <h2>Zakończone:</h2>
                  <div cdkDropList [cdkDropListData]="getFilteredTaskArray('zakończone')" class="example-list" [cdkDragData]="item" (cdkDropListDropped)="drop($event, 'zakończone')" cdkDrag>
                    <div class="example-box" *ngFor="let item of getFilteredTaskArray('zakończone')" (dragstart)="onDragStart(item)">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{ item.name }}</mat-card-title>
                          <mat-card-subtitle>{{ item.scope }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>{{ item.description }}</p>
                          <p>Termin zakończenia: {{ item.completionDate }}</p>
                        </mat-card-content>
                        <mat-card-actions class="buttons">
                          <button mat-button color="accent">Usuń</button>
                          <button mat-button color="primary">Edytuj</button>
                        </mat-card-actions>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


  