<section>
    <div class="sec">
        <div class="title"><h1>Zadania</h1></div>
        <div class="button"><button mat-flat-button color="primary">+ Dodaj</button></div>
    </div>
</section>
<mat-divider></mat-divider>

<div class="content-container">
    <div class="header-task-list">

    </div>
    <div class="tasks-kanban-content">
        <div cdkDropListGroup>
            <div class="example-container">
              <h2>Nowe</h2>
              <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{item}}</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>This card indeterminates progress bar.</p>
                          <p>Test</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>                      
                </div>
              </div>
            </div>
          
            <div class="example-container">
              <h2>Zakończone</h2>
              <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>{{item}}</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                          <p>This card indeterminates progress bar.</p>
                          <p>Test</p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card> 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


  