<h2 mat-dialog-title>Dodawanie budowy</h2>
<mat-dialog-content>
    <form [formGroup]="constructionForm" (ngSubmit)="onSubmit()">
        <div class="id">
            <mat-form-field>
                <mat-label>Nr</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="constructionForm.get('name')?.hasError('required')">To pole jest wymagane</mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-label>Lokalizacja</mat-label>
            <input matInput formControlName="location">
            <mat-error *ngIf="constructionForm.get('location')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Klient</mat-label>
            <input matInput formControlName="client">
            <mat-error *ngIf="constructionForm.get('client')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kosztorys</mat-label>
            <mat-select formControlName="costEstimateId" required>
            <mat-option *ngFor="let cost of costSelect" [value]="cost">{{ cost }}</mat-option>
            <mat-error *ngIf="constructionForm.get('costEstimateId')?.hasError('required')">To pole jest wymagane</mat-error>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kierownik projektu</mat-label>
            <input matInput formControlName="manager">
            <mat-error *ngIf="constructionForm.get('manager')?.hasError('required')">To pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kontakty</mat-label>
            <mat-select formControlName="contactId" required>
            <mat-option *ngFor="let contact of contactList" [value]="contact">{{ contact }}</mat-option>
            <mat-error *ngIf="constructionForm.get('contactId')?.hasError('required')">To pole jest wymagane</mat-error>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Opis</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zadania</mat-label>
            <mat-select formControlName="taskId" required>
            <mat-option *ngFor="let task of taskList" [value]="task">{{ task }}</mat-option>
            <mat-error *ngIf="constructionForm.get('taskId')?.hasError('required')">To pole jest wymagane</mat-error>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
            <mat-error *ngIf="constructionForm.get('status')?.hasError('required')">To pole jest wymagane</mat-error>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="buttons-container">
    <button mat-button color="primary" (click)="clean()"><mat-icon>cancel
    </mat-icon>Wyczyść</button>
    <button mat-button color="primary" (click)="dismiss()"><mat-icon>cancel
    </mat-icon>Anuluj</button>
    <button mat-button color="primary"(click)="onSubmit()" [disabled]="saveButtonDisabled"><mat-icon>save
    </mat-icon>Zapisz</button>
</mat-dialog-actions>
