.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:first-child {
    flex: 0 0 10%; 
}

:last-child {
    flex: 0 0 calc(90% - 10px);
}

.buttons-container {
    display: flex;
    align-items: center;
    padding: 15px;

    .right-buttons-container {
        margin-left: auto;
    }
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
