.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
