img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

mat-menu-item {
    outline: none;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
  }
  
  .user-info mat-icon {
    margin-right: 5px;
  }

  
