<mat-drawer-container class="app-navbar-container" autosize>
    <mat-drawer #drawer class="app-navbar-sidenav mat-elevation-z10" [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
      <mat-toolbar color="primary"><mat-icon>dashboard</mat-icon>
        Panel użytkownika</mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem"><mat-icon>businessaccount_balance</mat-icon>
                Budowy</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>date_range</mat-icon>
                Kosztorysy</mat-list-item>
            <mat-list-item role="listitem"> <mat-icon>phone</mat-icon>
                Kontakty</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>description</mat-icon>Zadania</mat-list-item>
          </mat-list>
    </mat-drawer>
  
    <div class="app-sidenav-content">
    <app-header (toogleSidenav)="drawer.toggle()"></app-header>
    <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
    <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  