<div class="dashboard">
    <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>businessaccount_balance</mat-icon></div>
          <mat-card-title>Budowy</mat-card-title>
          <mat-card-subtitle>Loem ipsum...</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1527335988388-b40ee248d80c?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <mat-card-content>
          <p>
            Dodaj pierwszą budowę
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">+ Dodaj budowę</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>date_range</mat-icon></div>
          <mat-card-title>Kosztorysy</mat-card-title>
          <mat-card-subtitle>Loem ipsum...</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1527335988388-b40ee248d80c?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <mat-card-content>
          <p>
            Dodaj pierwszy kosztorys
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">+ Dodaj kosztorys</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>phone</mat-icon></div>
          <mat-card-title>Kontakty</mat-card-title>
          <mat-card-subtitle>Loem ipsum...</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1527335988388-b40ee248d80c?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <mat-card-content>
          <p>
            Dodaj pierwszy kontakt
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">+ Dodaj kontakt</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>description</mat-icon></div>
          <mat-card-title>Zadania</mat-card-title>
          <mat-card-subtitle>Loem ipsum...</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.unsplash.com/photo-1527335988388-b40ee248d80c?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <mat-card-content>
          <p>
            Dodaj pierwsze zadanie
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">+ Dodaj zadanie</button>
        </mat-card-actions>
      </mat-card>
</div>


  