.dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px;

    .user-panel-card {
        // max-width: 500px;
        // max-height: 500px;
        margin: 20px;
        padding: 20px;

        border-radius: 15px;
        justify-content: center;
        align-items: center;

        img {
            width: 450px;
            height: 480px;
            padding: 30px;
            border-radius: 50%;
        }
    }
}

// TODO: media queries for breakpoints
