<div class="dashboard">
    <div class="card">Budowy</div>
    <div class="card">Kosztorysy</div>
    <div class="card">Kontakty</div>
    <div class="card">Zadania</div>
</div>

<!-- <mat-card class="user-panel-card">
    <mat-card-header>
      <div mat-card-avatar class="user-panel-header-image"></div>
      <mat-card-title>Budowy</mat-card-title>
      <mat-card-subtitle>Loem ipsum...</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Dodaj swoją pierwszą budowę
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Dodaj budowę</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
  