<div class="dashboard">
    <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>businessaccount</mat-icon></div>
          <mat-card-title>Budowy</mat-card-title>
          <mat-card-subtitle>kategoria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <img mat-card-image class="img-card-content" src="./../../../assets/images/world.svg" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">Dodaj budowę</button>
          
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>date_range</mat-icon></div>
          <mat-card-title>Kosztorysy</mat-card-title>
          <mat-card-subtitle>kategoria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <img mat-card-image class="img-card-content" src="./../../../assets/icons/d-1.svg" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">Dodaj kosztorys</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>phone</mat-icon></div>
          <mat-card-title>Kontakty</mat-card-title>
          <mat-card-subtitle>kategoria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <img mat-card-image class="img-card-content" src="./../../../assets/images/contacts.svg" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">Dodaj kontakt</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="user-panel-card">
        <mat-card-header>
          <div mat-card-avatar class="user-panel-header-image"><mat-icon>description</mat-icon></div>
          <mat-card-title>Zadania</mat-card-title>
          <mat-card-subtitle>kategoria</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <img mat-card-image class="img-card-content" src="./../../../assets/images/tasks1.svg" alt="">
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary">Dodaj zadanie</button>
        </mat-card-actions>
      </mat-card>
</div>


  