.dashboard { 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px;

    .user-panel-card {
        margin: 20px;
        padding: 20px 0px;

        justify-content: center;
        align-items: center;

        .img-card-content {
            max-width: 270px;
            padding: 35px;
        }
    }

    mat-card-actions {
        margin-top: auto;
    }
}
